<template>
  <div>
    <div class="card mb-3" style="background-color:#f1f1f1;" v-if="loaded">
      <div class="card-body">
        <h1 class="display-3">{{ char.name }}</h1>
        <p class="card-text">
          <small class="text-muted">Gender</small>
          {{ char.gender }}
        </p>
        <p class="card-text">
          <small class="text-muted">Height</small>
          {{ char.height }}
        </p>
        <p class="card-text">
          <small class="text-muted">Weight</small>
          {{ char.mass }}
        </p>
        <p class="card-text">
          <small class="text-muted">Hair Color</small>
          {{ char.hair_color }}
        </p>
        <p class="card-text">
          <small class="text-muted">Eye Color</small>
          {{ char.eye_color }}
        </p>
        <p class="card-text">
          <small class="text-muted">Skin Color</small>
          {{ char.skin_color }}
        </p>
        <p class="card-text">
          <small class="text-muted">Birth Year</small>
          {{ char.birth_year }}
        </p>
      </div>
    </div>
    <div v-else>Loading... It's taking some time cause it's Star Wars</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      char: {},
      loaded: false
    };
  },
  async mounted() {
    const result = await fetch(
      `https://swapi.co/api/people/${this.$route.params.id}/`
    );
    const data = await result.json();
    this.char = data;
    this.loaded = true;
  }
};
</script>
