<template>
  <router-link :to="'/char/' + char.id" class="list-group-item list-group-item-action">{{ char.name }}</router-link>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      default: ""
    }
  },
  data() {
      return {
          char: {}
      };
  },
  async mounted () {
      const result = await fetch(this.url);
      const data = await result.json();
      const splittedid = this.url.split('/');
      const id = splittedid[splittedid.length-2];
      data.id = id;
      this.char = data;
  },
};
</script>

<style lang="scss" scoped>
</style>