<template>
  <div>
    <div class="card mb-3" style="background-color:#f1f1f1;" v-if="loaded">
      <div class="card-body">
        <h5 class="display-3">{{ film.title }}</h5>
        <p class="card-text">
          <small class="text-muted">Release Date</small>
          {{ film.release_date }}
        </p>
        <p class="card-text">{{ film.opening_crawl }}</p>
        <p class="card-text">
          <small class="text-muted">Director</small>
          {{ film.director }}
        </p>
        <p class="card-text">
          <small class="text-muted">Producer</small>
          {{ film.producer }}
        </p>
      </div>
      <div class="card">
        <div class="card-header">Characters in The Movie</div>
        <div class="list-group list-group-flush">
          <char-title v-for="(char , index) in film.characters" :url="char" :key="'char-' + index"></char-title>
        </div>
      </div>
    </div>
    <div v-else>Loading... It's taking some time cause it's Star Wars</div>
  </div>
</template>

<script>
import Char from "./Char";
import CharTitle from "./CharTitle";
export default {
  data() {
    return {
      film: {},
      loaded : false
    };
  },
  components: {
    Char,
    CharTitle
  },
  async mounted() {
    const result = await fetch(
      `https://swapi.co/api/films/${this.$route.params.id}/`
    );
    const data = await result.json();
    this.film = data;
    this.loaded = true;
  }
};
</script>
