<template>
  <div>
    <div class="aler alert-danger" role="alert" v-if="error">{{ error }}</div>
    <div class="row" v-if="loaded">
      <div class="card mb-3" v-for="(film , index) in films" :key="'film-' + index">
        <img src="../assets/img/star-wars-movie-posters.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h1 class="display-1">{{ film.title }}</h1>
          <h6 class="card-subtitle mb-2 text-muted">{{ film.release_date }}</h6>
          <p class="card-text">{{ film.opening_crawl }}</p>
          <router-link class="btn btn-info" :to="'/film/' + film.id">Film Detail</router-link>
        </div>
      </div>
    </div>
    <div v-else>Loading... It's taking some time cause it's Star Wars</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loaded: false,
      error: null,
      films: [
        {
          title: "Film Title",
          openin_crawl: "Details"
        }
      ]
    };
  },
  async mounted() {
    try {
      const result = await fetch("https://swapi.co/api/films");
      const data = await result.json();
      this.films = data.results.sort((a, b) =>
        a.release_date > b.release_date
          ? 1
          : b.release_date > a.release_date
          ? -1
          : 0
      );
      this.films = this.films.map(forid => {
        const splittedid = forid.url.split("/");
        const id = splittedid[splittedid.length - 2];
        forid.id = id;
        return forid;
      });
      this.loaded = true;
    } catch (exception) {
      this.error = `There is something wrong with this website!!!\n\n${exception}`;
    }
  }
};
</script>
